@page
@model OdeToFood2.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "Restaurants";
}


<h1>Restaurants</h1>


<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control"
                   asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-success" type="submit">
                    Find
                </button>
            </span>
        </div>
    </div>
</form>

<a asp-page=".\Edit" class="btn btn-primary">Add New</a>

<br />
<br />

@foreach (var restaurant in Model.Restaurents)
{
    <partial name="_Summary" model="restaurant" />
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


@section footer{
    <div>@Model.Message</div>
}